<form [formGroup]="addFormGroup" class="container">
    <div class="row">
        <div class="col-md-5">
            <label for="rentDate"><h4>Kiralama Tarihi</h4></label>
        </div>
        <div class="col-md-5">
            <label for="returnDate"><h4>Dönüş Tarihi</h4></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <input type="text" id="rentDate" placeholder="Ay/Gün/Yıl"
            class="form-control bg-danger" formControlName="rentDate"
            bsDatepicker [(ngModel)]="rentDate"
            [bsConfig]="{ isAnimated: true, containerClass: 'theme-blue' }">
        </div>
        <div class="col-md-5">
            <input type="text" id="returnDate" placeholder="Ay/Gün/Yıl"
            class="form-control bg-danger" formControlName="returnDate"
            bsDatepicker [(ngModel)]="returnDate"
            [bsConfig]="{ isAnimated: true, containerClass: 'theme-blue' }">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="checkRulesForAdding()">Kirala</button>
        </div>
    </div>
</form>