<div *ngIf="dataLoaded" class="container rounded bg-white mt-3 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{user.firstName}} {{user.lastName}}</span>
                <span class="text-black-50">{{user.email}}</span><span></span></div>
        </div>
        <form [formGroup]="profileForm" class="col-md-9 border-right">
            <div class="p-3 py-0">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label>
                        <input formControlName="firstName" type="text" class="form-control text-black" placeholder="Ad" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label>
                        <input formControlName="lastName" type="text" class="form-control text-black" value="" placeholder="Soyad"></div>
                </div>
                <div class="mt-4 mb-4 text-center w-100"><button (click)="updateUserNames()" class="w-100 btn btn-success profile-button" type="button">Bilgileri Güncelle</button></div>
                
                <form [formGroup]="passwordForm">
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Eski Şifre</label>
                            <input formControlName="oldPassword" type="password" class="form-control text-black" placeholder="Eski Şifre" value=""></div>
                        <div class="col-md-6"><label class="labels">Yeni Şifre</label>
                            <input formControlName="newPassword" type="password" class="form-control text-black" placeholder="Yeni Şifre" value=""></div>
                        <div class="mt-3 col-md-6">
                            <label class="labels">Yeni Şifre Tekrarı</label>
                            <input formControlName="repeatNewPassword" type="password" class="form-control text-black" value="" placeholder="Yeni Şifre Tekrarı">
                        </div>
                    </div>
                    <div class="mt-4 mb-4 text-center w-100"><button (click)="updatePassword()" class="w-100 btn btn-danger profile-button" type="button">Şifreyi Güncelle</button></div>
                </form>
            </div>
        </form>
    </div>
</div>