<div *ngIf="dataLoaded" class="container rounded bg-white mt-3 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{user.firstName}} {{user.lastName}}</span>
                <span class="text-black-50">{{user.email}}</span><span></span></div>
        </div>
        <form [formGroup]="profileForm" class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label>
                        <input formControlName="firstName" type="text" class="form-control text-black" placeholder="Ad" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label>
                        <input formControlName="lastName" type="text" class="form-control text-black" value="" placeholder="Soyad"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input formControlName="email" type="text" class="form-control text-black"  placeholder="Email adresi giriniz." value=""></div>
                </div>
                <div class="mt-5 text-center"><button (click)="updateUser()" class="btn btn-primary profile-button" type="button">Güncelle</button></div>
            </div>
        </form>
    </div>
</div>